@model List<Lab07.Models.products.Product>

<h2>Lista produktów</h2>

<a class="btn btn-primary" asp-action="Create">Dodaj nowy</a>

@if (Model.Count > 0)
{
    <table class="table">
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Producent</th>
            <th>Kategoria</th>
            <th>Akcje</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Producer</td>
                <td>@item.Category</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </table>
}