@model Book
<tr>
    <td>@Model.Title</td>
    <td>@Model.PublishingYear</td>
    <td>
        <a asp-action="Details" asp-route-id="@Model.Id">Szczegóły</a>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
        <a asp-action="Delete" asp-route-id="@Model.Id">Usuń</a>
    </td>
</tr>